.container {
  height: 100vh;
}

.body .content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
}

.body .content .card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: calc(25% - 20px);
}

.body .content .card .card-header {
  display: flex;
  overflow: hidden;
  padding: 10px 10px 10px 0;
}

.body .content .card .card-header .profile {
  flex-grow: 0;
}

.body .content .card .card-header .profile .img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D 750w');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.body .content .card .card-header .details {
  margin-left: 5px;
  width: 100%;
  align-self: center;
}

.body .content .card .card-header .name {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  max-width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body .content .card .card-header .times {
  display: block;
  width: 100%;
  max-width: calc(100% - 50px);
  margin-top: 5px;
  font-size: 11px;
  color: #7e7e7e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body .content .card .card-body {
  flex-grow: 1;
}

.body .content .card .card-body .image {
  height: 250px;
  background: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D 750w');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 3px;
}

@media screen and (max-width: 1393px) {
  .body .content .card {
    width: calc(33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .body .content .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 578px) {
  .body .content .card {
    width: calc(100% - 20px);
  }
}
