.container {
  height: 100vh;
}

.nav {
  display: flex;
  height: 100px;
  background-color: #fff;
  border: 1px solid blue;
}

.body {
  position: relative;
  display: flex;
  flex-flow: column wrap;
}

.body .sidebar {
  display: flex;
  flex-grow: 1;
  margin-top: 5px;
}

.body .sidebar .sidebar-item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  font-style: 14px;
  height: 50px;
  border: 1px solid black;
  margin-top: 1px;
}
.body .sidebar .sidebar-item:nth-child(2) {
  border-right: none;
  border-left: none;
}
.body .sidebar .sidebar-item:nth-child(3) {
  border-right: none;
}
.body .sidebar .sidebar-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}
.body .sidebar .sidebar-item.is-active {
  background-color: rgba(10, 10, 10, 0.1);
}

.body .content {
  display: flex;
  height: auto;
  flex-flow: row wrap;
  overflow: hidden;
}

.body .content .card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: calc(25% - 20px);
}

.body .content .card .card-header {
  display: flex;
  overflow: hidden;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.body .content .card .card-header .profile {
  flex-grow: 0;
}

.body .content .card .card-header .profile .img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D 750w');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.body .content .card .card-header .details {
  margin-left: 5px;
  width: 100%;
  align-self: center;
}

.body .content .card .card-header .name {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  max-width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body .content .card .card-header .times {
  display: block;
  width: 100%;
  max-width: calc(100% - 50px);
  margin-top: 5px;
  font-size: 11px;
  color: #7e7e7e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body .content .card .card-body {
  flex-grow: 1;
}

.body .content .card .card-body .image {
  height: 250px;
  background: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D 750w');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 3px;
}
@media screen and (max-width: 1393px) {
  .body .content .card {
    width: calc(33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .body .content .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 568px) {
  .body .content .card {
    width: calc(100% - 20px);
  }
}
