.navbar {
  display: flex;
  background-color: #fff;
  min-height: 3.25rem;
  border: solid 1px black;
  overflow: hidden;
  box-sizing: border-box;
}
.navbar .navbar-brand {
  display: flex;
  min-height: 3.25rem;
  flex-shrink: 0;
}
.navbar-item {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-item img {
  height: auto;
  max-width: 100%;
  max-height: 1.75rem;
  align-self: center;
}

.navbar .navbar-menu {
  display: flex;
  flex-grow: 1;
}
.navbar .navbar-menu .navbar-start {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}
.navbar .navbar-menu .navbar-end {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
