.body {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.body .sidebar {
  display: flex;
  margin-top: 5px;
  flex-flow: column wrap;
  flex-grow: 0;
}

.body .sidebar .sidebar-item {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  white-space: nowrap;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  font-style: 14px;
  height: 50px;
  border: 1px solid black;
  margin-top: 1px;
}
/* .body .sidebar .sidebar-item:nth-child(2) {
  border-right: none;
  border-left: none;
}
.body .sidebar .sidebar-item:nth-child(3) {
  border-right: none;
} */
.body .sidebar .sidebar-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}
.body .sidebar .sidebar-item.is-active {
  background-color: rgba(10, 10, 10, 0.1);
}

@media screen and (max-width: 578px) {
  .body {
    flex-wrap: wrap;
  }
  .body .sidebar {
    flex-grow: 1;
    flex-flow: row nowrap;
  }
  
.body .sidebar .sidebar-item {
  padding: 0;
  flex-grow: 1;
}
}
